.aboutUs{
    width: 100vw;
    
}
.background{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    position:relative;
    top: 0;
    left: 0;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
}

.computer-img{
    width: 300px;
    margin-right: 50px;
}

.ourMission{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.ourMission p {
    width: 500px;
    text-align: left;
}

.ourMission h4{
    text-align: left;
}

.globe-img{
    width: 250px;
    margin-right: 50px;
}
.platform{
    display: flex;
    flex-direction: row;   
}

.platform p {
    width: 500px;  
}

.platform h4{
    text-align: left;
}