.aboutUs{
    width: 100vw;
    background-color: rgb(246, 245, 241);
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ourMission{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.ourMission p {
    width: 500px;
    text-align: left;
}

.ourMission h4{
    text-align: left;
}


.platform{
    display: flex;
    flex-direction: row;   
}

.platform p {
    width: 500px;  
}

.platform h4{
    text-align: left;
}

.aboutUs span{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 1000px;
    position: absolute;
    top: 50%;
    left:40%;
    z-index: 3;
    margin-top: 30px;
    align-content: center;
    justify-content: space-between;
    color: white;
    text-align: right;
    font-size: 20px;
}

.aboutUs h1{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 1000px;
    position: absolute;
    top: 40%;
    left:40%;
    z-index: 3;
    margin-top: 30px;
    align-content: center;
    justify-content: space-between;
    color: rgb(240, 128, 68);
    text-align: right;
    font-size: 50px;
    font-weight: 700;
}

.background{
    width:100vw 
}