.agencyPage-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content{
    margin-top: 50px;
}

.questionsBox{
    margin-left: 0;
    margin-top: 50px;
    width: 500px;
    background-color: gray;
    border-radius: 10px;
    text-align: right;
    color: white;
}

.addExchange-btn{
    background-color:rgb(181, 226, 114) ;
    border-radius: 5px;
    align-content: flex-end;
    color: white;
}

.cardbox{
    margin-top: 50px;
    margin-left: 50px;
}

background-color: rgb(226, 224, 224);