
video{
    margin: 50px;
    width: 100vw;
    height: 70vh;
    object-fit: cover;
    border-radius: 50px;

}

.contentHP{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    border-radius: 50px;
    z-index: 3;
    color: grey;
}

h4{
    padding-top: 0;
    color:rgb(240, 128, 68);
}

.articles{
    display: flex;
}

article{
    width: 150px;
}

.articles img {
    width: 80px;
}

.homePage{
    background-color: rgba(228, 223, 223, 0.849);
}