
video{
    width: 95vw;
    height: 50vh;
    object-fit: cover;
    top: 0;
    left: 0;
}

.contentHP{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    border-radius: 50px;
    z-index: 3;
    color: grey;
    background-color: rgba(159, 34, 208, 0.175);
}

h4{
    padding-top: 0;
    color:rgb(127, 201, 14);
}

.articles{
    display: flex;
}

article{
    width: 150px;
}

.articles img {
    width: 80px;
}
