.card-img{
    height: 250px;
    width: 300px;
}
.card{
    width: 250px;
    margin-top: 50px;
}

.card-body{
    border: none;
    background-color:rgb(246, 245, 241)
}

.card button{
    padding: 5px;
    background-color: rgb(181, 226, 114);
    border-color: none;
    color: white;
    font-size: 8px;
    margin-left: 5px;
    border-radius: 5px;
}

.card .details-btn{
    background-color: rgb(240, 128, 68);
    margin-left: 70px;
    font-size: 10px ;
    font-weight: 900;
}

.card p {
    color: gray;
    text-align: left;
    margin-top: 0;
    padding: 0;
}

.card h6 {
    text-align: left;
}