.header{ 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    position: fixed;
    height: 80vh;
    top: 0;
    z-index: 3;
}

.logo{
    top: 5px;
    left: 5px;
    position: fixed;
    width: 65px;
}

.buttons{
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: end;
    width: 100%;
    margin-bottom: 60vh;
}
h2{
    
    color: white;
}

button{
    background:none;
    border-style: hidden;
    color: rgb(181, 226, 114);
    margin-right: 5px;
    font-weight: 500;
}

.destination-button{
    background-color: rgb(240, 128, 68);
    color:white;
    border-radius: 5px;
}