.Title{
    margin-top: 50px;
    color: white;
    align-content: center;
    font-size: 50%
}

.header{ 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 90vw;
    position: fixed;
    top: 0;
    z-index: 3;
    margin-top: 30px;
    justify-content: space-between;
    
}


.logo{
    top: 5px;
    left: 5px;
    position: fixed;
    width: 120px;
}

.buttons{
    margin-top: 5px;
    display: flex;
    justify-content: end;
    width: 90vw;
    
}
h2{
    
    color: white;
    align-content: center;
}

button{
    background:none;
    border-style: hidden;
    color: rgb(95, 93, 93);
    margin-left: 15px;
    font-weight: 500;
}

.destination-button{
    background-color: rgb(240, 128, 68);
    color:white;
    border-radius: 5px;
}