.input1 {
    padding: 1% 1%;
    width: 30vw;
    float: left;
    display: flexbox;


}

.input2 {
    padding: 1% 1%;
    width: 30vw;
    float: right;
    display: flexbox;


}
.input-group-text{
    border-radius: 10px;

}


